body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

header {
    border-bottom: 1px solid #aaa6a6;
    width: 100%;
}

.main-margin {
    width: 94vw;
    margin: 0 auto;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav {
    background-color: white;
    justify-content: space-between;
}

li {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}

main {
    text-align: center;
}

.logo {
    height: 12vh;
}

.map {
    height: auto;
    width: 95%;
}

.navbar-light .navbar-nav .nav-link{
    color: #0000;
    background: 
      linear-gradient(90deg,orange 50%,#000 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    --_p: 0%;
}

@media only screen and (max-width: 600px) {
    
    li {
        text-align: center;
    }

    header {
        border-bottom: 1px solid #e7e7e7;
        width: 100%;
    }

    .map {
        padding-top: 10px;
        height: auto;
        width: 100%;
    }
    .navbar-expand {
        padding: 0px;
    }
}